apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
  labels:
    cluster.x-k8s.io/cluster-name: {{ cluster_name }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - {{ cluster_pod_cidr }}
    serviceDomain: cluster.local
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: KubeadmControlPlane
    name: {{ cluster_name }}-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: OpenStackCluster
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
spec:
  apiServerLoadBalancer:
    enabled: true
    provider: ovn
  externalNetwork:
    id: {{ cluster_external_network_id }}
  identityRef:
    cloudName: openstack
    name: {{ cluster_name }}-cloud-config
  network:
    filter:
      name: {{ cluster_network }}
  router:
    filter:
      name: {{ cluster_network }}
