apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - cloud-config.yaml
  - ccm-cloud-config.yaml
  - cluster.yaml
  - control-plane.yaml
  - workers.yaml
  - healthchecks.yaml
  - cluster-resource-set.yaml
{% if enable_velero %}
patches:
  - target:
      kind: Secret
      name: {{ cluster_name }}-cloud-config
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
          reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "velero"
{% endif %}
