apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - cloud-config.yaml
  - ccm-cloud-config.yaml
  - cluster.yaml
  - control-plane.yaml
  - workers.yaml
  - healthchecks.yaml
  - cluster-resource-set.yaml
