apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: {{ cluster_name }}
  namespace: flux-system
spec:
  interval: 1m
  url: {{ cluster_repo_url }}
  ref:
    branch: main
  secretRef:
    name: {{ cluster_repo_secret | default('flux-gitlab-token') }}
