---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: {{ cluster_name }}
  namespace: flux-system
spec:
  interval: 5m
  path: ./config
  prune: true
  dependsOn:
    - name: workload-components
  sourceRef:
    kind: GitRepository
    name: {{ cluster_name }}
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: {{ cluster_name }}-autoscaler
  namespace: flux-system
spec:
  interval: 5m
  path: ./config/autoscaler
  prune: true
  dependsOn:
    - name: {{ cluster_name }}
  sourceRef:
    kind: GitRepository
    name: {{ cluster_name }}
