apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - velero-namespace.yaml
  - ../../cloud-config.yaml
  - reflected-credentials.yaml
patches:
  - target:
      kind: Secret
      name: {{ cluster_name }}-cloud-config
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
          reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "velero"
