apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-cloud-config
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "velero"
