apiVersion: v1
kind: Secret
metadata:
  name: openstack-credentials
  namespace: velero
  annotations:
    reflector.v1.k8s.emberstack.com/reflects: "{{ cluster_namespace }}/{{ cluster_name }}-cloud-config"
type: Opaque
data: {}
