apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
{% if enable_cinder_csi %}
  - cinder-csi-helmrelease.yaml
{% endif %}
{% if enable_envoy_gateway %}
  - envoy-gateway-helmrelease.yaml
{% endif %}
{% if enable_velero %}
  - velero-helmrelease.yaml
{% endif %}
