apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-tf-credentials
  namespace: flux-system
type: Opaque
stringData:
  OS_AUTH_URL: {{ _auth_url }}
  OS_APPLICATION_CREDENTIAL_ID: {{ _app_cred_id }}
  OS_APPLICATION_CREDENTIAL_SECRET: {{ _app_cred_secret }}
  OS_REGION_NAME: {{ _region }}
