---
- name: Ensure namespace {{ cluster_namespace }} exists
  shell: |
    kubectl get namespace "{{ cluster_namespace }}" >/dev/null 2>&1 || \
    kubectl create namespace "{{ cluster_namespace }}"
  args:
    executable: /bin/bash

- name: Init {{ cluster_name }} clusterctl yaml 
  shell: >-
    kubectl apply -f {{ tmp_dir }}/{{ cluster_name }}.yml

- name: Wait for {{ cluster_name }} control plane to return true
  shell: >-
    kubectl get kubeadmcontrolplane -n {{ cluster_namespace }} | grep {{ cluster_name }} | grep -c true
  register: result
  until: result.stdout == "1"
  retries: 15
  delay: 30

- name: Pause for {{ cluster_settle_timeout_base * cluster_control_plane_count }} minutes while cluster settles
  ansible.builtin.pause:
    minutes: "{{ cluster_settle_timeout_base * cluster_control_plane_count }}"