---
- name: Setting OIDC auth boolean to {{ kube_oidc_auth }}
  set_fact:
    enable_oidc_auth: "{{ kube_oidc_auth }}"

- name: Copy create_base64_ca_cert.sh
  copy:
    src: "files/create_base64_ca_cert.sh"
    dest: "{{ tmp_dir }}/create_base64_ca_cert.sh"
    mode: 0770

- name: Run create_base64_ca_cert for {{ cluster_name }}
  shell: >-
    {{ tmp_dir }}/create_base64_ca_cert.sh \
    {{ clouds_yaml_location }} openstack
  register: base64_ca_cert

- name: Copy create_base64_yaml.sh
  copy:
    src: "files/create_base64_yaml.sh"
    dest: "{{ tmp_dir }}/create_base64_yaml.sh"
    mode: 0770

- name: Run create_base64_yaml for {{ cluster_name }}
  shell: >-
    {{ tmp_dir }}/create_base64_yaml.sh \
    {{ clouds_yaml_location }} openstack
  register: base64_cloud_yaml

- debug:
    msg: "{{ base64_cloud_yaml }}"

- name: Create clusterctl template
  template:
    src: "cluster-template.yml.j2"
    dest: "{{ tmp_dir }}/cluster-template.yml"
    mode: 0640

- name: Generate clusterctl yaml for {{ cluster_name }}
  shell: >-
    clusterctl generate cluster {{ cluster_name }} \
    --target-namespace={{ cluster_namespace }} \
    --from {{ tmp_dir }}/cluster-template.yml > {{ tmp_dir }}/{{ cluster_name }}.yml

- name: Ensure namespace {{ cluster_namespace }} exists
  shell: |
    kubectl get namespace "{{ cluster_namespace }}" >/dev/null 2>&1 || \
    kubectl create namespace "{{ cluster_namespace }}"
  args:
    executable: /bin/bash

- name: Init {{ cluster_name }} clusterctl yaml 
  shell: >-
    kubectl apply -f {{ tmp_dir }}/{{ cluster_name }}.yml

- name: Wait for {{ cluster_name }} control plane to return true
  shell: >-
    kubectl get kubeadmcontrolplane -n {{ cluster_namespace }} | grep {{ cluster_name }} | grep -c true
  register: result
  until: result.stdout == "1"
  retries: 15
  delay: 30

- name: Pause for {{ cluster_settle_timeout_base * cluster_control_plane_count }} minutes while cluster settles
  ansible.builtin.pause:
    minutes: "{{ cluster_settle_timeout_base * cluster_control_plane_count }}"