---
- name: Setting OIDC auth boolean to {{ kube_oidc_auth }}
  set_fact:
    enable_oidc_auth: "{{ kube_oidc_auth }}"

- name: Copy create_base64_ca_cert.sh
  copy:
    src: "files/create_base64_ca_cert.sh"
    dest: "{{ tmp_dir }}/create_base64_ca_cert.sh"
    mode: 0770

- name: Run create_base64_ca_cert for {{ cluster_name }}
  shell: >-
    {{ tmp_dir }}/create_base64_ca_cert.sh \
    {{ clouds_yaml_location }} openstack
  register: base64_ca_cert

- name: Copy create_base64_yaml.sh
  copy:
    src: "files/create_base64_yaml.sh"
    dest: "{{ tmp_dir }}/create_base64_yaml.sh"
    mode: 0770

- name: Run create_base64_yaml for {{ cluster_name }}
  shell: >-
    {{ tmp_dir }}/create_base64_yaml.sh \
    {{ clouds_yaml_location }} openstack
  register: base64_cloud_yaml

- name: Create clusterctl template
  template:
    src: "cluster-template.yml.j2"
    dest: "{{ tmp_dir }}/cluster-template.yml"
    mode: 0640
  when:
    - capi_deployment != "talos"

- name: Create clusterctl template (Talos)
  template:
    src: "talos-cluster-template.yml.j2"
    dest: "{{ tmp_dir }}/cluster-template.yml"
    mode: 0640
  when:
    - capi_deployment == "talos"

- name: Generate clusterctl yaml for {{ cluster_name }}
  shell: >-
    clusterctl generate cluster {{ cluster_name }} \
    --target-namespace={{ cluster_namespace }} \
    --from {{ tmp_dir }}/cluster-template.yml > {{ tmp_dir }}/{{ cluster_name }}.yml
  when:
    - capi_deployment != "talos"

- name: Generate clusterctl yaml for {{ cluster_name }} (Talos)
  shell: >-
    clusterctl generate cluster {{ cluster_name }} \
    --target-namespace={{ cluster_namespace }} \
    --from {{ tmp_dir }}/cluster-template.yml > {{ tmp_dir }}/{{ cluster_name }}.yml
  when:
    - capi_deployment == "talos"