---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-autoscaler
  namespace: {{ cluster_namespace }}
  ownerReferences:
    - apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      name: {{ cluster_name }}
      uid: {{ cluster_uid }}
      blockOwnerDeletion: true
      controller: false
---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ cluster_namespace }}
  name: "cluster-autoscaler-token-{{ cluster_name }}"
  annotations:
    kubernetes.io/service-account.name: "cluster-autoscaler"
  ownerReferences:
    - apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      name: {{ cluster_name }}
      uid: {{ cluster_uid }}
      blockOwnerDeletion: true
      controller: false
type: kubernetes.io/service-account-token