apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: autoscaler-{{ cluster_name }}
  ownerReferences:
    - apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      name: {{ cluster_name }}
      uid: {{ cluster_uid }}
      blockOwnerDeletion: true
      controller: false
rules:
  - apiGroups:
      - cluster.x-k8s.io
    resources:
      - machines
      - machines/status
      - machinesets
      - machinesets/status
      - machinepools
      - machinepools/status
      - machinedeployments
      - machinedeployments/status
      - machinedeployments/scale
      - clusters
      - clusters/status
      - machinehealthchecks
      - machinehealthchecks/status
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - openstackmachinetemplates
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
