apiVersion: v1
data:
  cacert: {{ base64_ca_cert.stdout }}
  clouds.yaml: {{ base64_cloud_yaml.stdout }}
kind: Secret
metadata:
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"
  name: {{ cluster_name }}-cloud-config
  namespace: {{ cluster_namespace }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      files: []
      joinConfiguration:
        nodeRegistration:
{% if cri_socket | length > 0 %}
          criSocket: {{ cri_socket }}
{% endif %}
          kubeletExtraArgs:
            cloud-provider: external
            provider-id: openstack:///'{{ '{{' }} instance_id {{ '}}' }}'
          name: '{{ '{{' }} local_hostname {{ '}}' }}'
{% if preKubeadmCommands | length > 0 %}
      preKubeadmCommands:
{% for preKubeadmCommand in preKubeadmCommands %}
        - {{ preKubeadmCommand }}
{% endfor %}
{% endif %}
{% if postKubeadmCommands | length > 0 %}
      postKubeadmCommands:
{% for postKubeadmCommand in postKubeadmCommands %}
        - {{ postKubeadmCommand }}
{% endfor %}
{% endif %}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ cluster_pod_cidr }}
    serviceDomain: cluster.local
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: KubeadmControlPlane
    name: {{ cluster_name }}-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: OpenStackCluster
    name: {{ cluster_name }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "{{ cluster_worker_count }}"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "{{ cluster_max_worker_count }}"
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ cluster_worker_count }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: {{ cluster_name }}-md-0
      clusterName: {{ cluster_name }}
      failureDomain: nova
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: OpenStackMachineTemplate
        name: {{ cluster_name }}-md-0
      version: {{ kubernetes_version }}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta1
kind: KubeadmControlPlane
metadata:
  name: {{ cluster_name }}-control-plane
  namespace: {{ cluster_namespace }}
spec:
  kubeadmConfigSpec:
    clusterConfiguration:
      apiServer:
        extraArgs:
{% if enable_oidc_auth %}
          oidc-issuer-url: "{{ kube_oidc_url }}"
          oidc-client-id: "{{ kube_oidc_client_id }}"
          oidc-username-claim: "{{ kube_oidc_username_claim }}"
          oidc-groups-claim: "{{ kube_oidc_groups_claim }}"
{% if kube_oidc_username_prefix | default('') | length > 0 %}
          oidc-username-prefix: "{{ kube_oidc_username_prefix }}"
{% endif %}
{% if kube_oidc_groups_prefix | default('') | length > 0 %}
          oidc-groups-prefix: "{{ kube_oidc_groups_prefix }}"
{% endif %}
{% endif %}
      controllerManager:
        extraArgs:
          cloud-provider: external
    files: []
    initConfiguration:
      nodeRegistration:
{% if cri_socket | length > 0 %}
          criSocket: {{ cri_socket }}
{% endif %}
        kubeletExtraArgs:
          cloud-provider: external
          provider-id: openstack:///'{{ '{{' }} instance_id {{ '}}' }}'
        name: '{{ '{{' }} local_hostname {{ '}}' }}'
    joinConfiguration:
      nodeRegistration:
{% if cri_socket | length > 0 %}
          criSocket: {{ cri_socket }}
{% endif %}
        kubeletExtraArgs:
          cloud-provider: external
          provider-id: openstack:///'{{ '{{' }} instance_id {{ '}}' }}'
        name: '{{ '{{' }} local_hostname {{ '}}' }}'
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      kind: OpenStackMachineTemplate
      name: {{ cluster_name }}-control-plane
  replicas: {{ cluster_control_plane_count }}
  version: {{ kubernetes_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
spec:
  apiServerLoadBalancer:
    enabled: true
    provider: ovn
  externalNetwork:
    id: {{ cluster_external_network_id }}
  identityRef:
    cloudName: openstack
    name: {{ cluster_name }}-cloud-config
  network:
    filter:
      name: {{ cluster_network }}
  router: 
    filter:
      name: {{ cluster_network }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ cluster_name }}-control-plane
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      flavor: {{ control_plane_flavor }}
      image:
        filter:
          name: {{ capi_image_name }}
      sshKeyName: {{ openstack_ssh_key }}
      securityGroups:
      - filter:
          name: default
      - filter:
          name: k8s-cluster-{{ cluster_namespace }}-{{ cluster_name }}-secgroup-controlplane
{% if additional_cluster_secgroups | length > 0 %}
{% for additional_secgroup in additional_cluster_secgroups %}
      - filter:
          name: {{ additional_secgroup }}
{% endfor %}
{% endif %}
      ports:
      - network:
          filter:
            name: {{ cluster_network }}
{% if additional_cluster_networks | length > 0 %}
{% for additional_networks in additional_cluster_networks %}
      - network:
          filter:
            name: {{ additional_networks }}
{% endfor %}
{% endif %}
{% if control_plane_volume_size > 30 %}
      rootVolume:
          sizeGiB: {{ control_plane_volume_size }}
{% endif %}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      flavor: {{ worker_flavour }}
      image:
        filter:
          name: {{ capi_image_name }}
      sshKeyName: {{ openstack_ssh_key }}
      securityGroups:
      - filter:
          name: default
      - filter:
          name: k8s-cluster-{{ cluster_namespace }}-{{ cluster_name }}-secgroup-worker
{% if additional_cluster_secgroups | length > 0 %}
{% for additional_secgroup in additional_cluster_secgroups %}
      - filter:
          name: {{ additional_secgroup }}
{% endfor %}
{% endif %}
      ports:
      - network:
          filter:
            name: {{ cluster_network }}
{% if additional_cluster_networks | length > 0 %}
{% for additional_networks in additional_cluster_networks %}
      - network:
          filter:
            name: {{ additional_networks }}
{% endfor %}
{% endif %}
{% if worker_volume_size > 30 %}
      rootVolume:
          sizeGiB: {{ worker_volume_size }}
{% endif %}
